body {  
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 55%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background: gray;
    border:none;
    color: honeydew;
    border-radius: 25px;
}
header {
    background: #0F1015;
    background-image: url(/images/mountain-no-sun.jpg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-attachment: scroll;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
section {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: #282A36;
    color: white;
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
}
footer {
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 5px;
    position: absolute;
    bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    background: #282A36;
    border-radius: 40px;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
}

header .logo a {
    background-image: url("images/NEXUS.png");
    background-size: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    height: 60px;
    width: 60px;
    text-indent: -999999999px;
}
nav {
    text-align: right;
}
h2 {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    body{
        position: relative;
    }
    li {
        display: inline-block;
        margin-right: 90px;
        margin-left: 10px;
    }
    section{
        display: block;
    }
    div {
        display: inline-block;
        background: #282A36;
        color: white;
        width: 800px;
        height: 200px;
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) { 
    header{
        height: auto;
        background-position: top;
        background-size: 600px;
    }
    li{
        display: block;
        text-align: right;
        height: 25px;
        margin: 5%;
        text-align: center;
    }
    section{
        display: block;
        margin: auto;
        width: 50%;
    }
    div {
        background: black;
        color:white;
        width: 200px;
        height: 200px;
        margin-top: 10px;
        padding-top: 20px;
        text-align: center;
    }
}

